---
import PageLayout from "@/layouts/Base";
import Books from "src/components/Books";

const meta = {
	title: "Acerca de Antonio Feregrino Bolaños",
	description: "Acerca de Antonio Feregrino Bolaños",
};
---

<PageLayout meta={meta}>
	<h1 class="text-3xl">Mi librero</h1>
	<p>
		Algunos de los libros que tengo en casa – he leído la gran mayoría, aunque
		no todos.
	</p>
	<Books />
</PageLayout>
