---
import { BIOGRAPHY } from '../../consts';
import projects  from './projects';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import ProjectEntry from '../../components/ProjectEntry';


const highligtedProjects = projects.filter((project) => project.data.highlight);
const notHighligtedProjects = projects.filter((project) => !project.data.highlight);

const fullText = "These are some of the projects I've worked on, most of them inspired by my career as a content creator. Some of these projects are still in active development and are open-source.";
const description = "Here are some of the projects I've worked on, most of them inspired by my career as a content creator. Some of them are still in active development"; 
---

<Layout title="My projects" description={description}>
	<Container>
		<main class="py-24">
			<p class="py-4 text-black dark:text-white">
				{fullText}
			</p>
			<section>
				<div class="flex flex-wrap">
					{highligtedProjects.map((post) =>  (<ProjectEntry post={post} />))}
					{notHighligtedProjects.map((post) =>  (<ProjectEntry post={post} />))}
				</div>
			</section>
		</main>
	</Container>
	</Layout>